.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 100px 0 100px;
  @media screen and (max-width: 770px) {
    display: none;
  }

  ul {
    display: flex;
    gap: 18px;
    list-style: none;
    align-items: center;

    li {
      font-size: 17px;
      font-weight: 400;
      position: relative;
      cursor: pointer;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      width: 20px;
      height: 20px;
    }

    input {
      font-size: 17px;
      padding: 5px;
      margin: 0;
      border: 1px solid transparent;
      outline: none;
    }
  }

  &__login {
    display: flex;
    gap: 15px;
    align-items: center;
    a {
      text-decoration: none;
      color: #121212;
      display: flex;
      gap: 4px;
      align-items: center;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    white-space: nowrap;
    flex-direction: column;

    li {
      padding: 10px 20px;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  &__dropdownOpen {
    display: flex;
    flex-direction: column;
  }
}

.mobile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;

  @media screen and (min-width: 770px) {
    display: none;
  }

  &__menuBar {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
    z-index: 111;
    top: 6%;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 15px;
        border-bottom: 1px solid #121212;
        font-size: 20px;
        a {
          text-decoration: none;
          color: #121212;
          width: 100%;
        }

        &:hover {
          background-color: #f0f0f0;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  &__menuBarOpen {
    max-height: 500px; /* Set a max height to enable the transition */
  }
}
