th.ant-table-cell {
  background: #fff !important;
  color: #000 !important;
  padding: 12px 20px !important;
  font-size: 14px;
  font-family: InterReg, sans-serif;
  border-radius: 0 !important;
  text-align: center !important;
  border-bottom: 1px solid #f6f6f6 !important;
  border-top: 1px solid #f6f6f6 !important;
  margin-top: 10px;
}

th::before {
  width: 0 !important;
}

.table-row-light {
  background-color: #ffffff;
}

.table-row-dark {
  background-color: #f9f9f9;
}

.ant-btn:hover {
  color: #0e1422 !important;
  border-color: #0e1422 !important;
}

#cats .ant-modal-content {
  display: flex !important;
  justify-content: center !important;
  padding: 20px !important;
}

#login .ant-input,
.ant-input-affix-wrapper {
  border-radius: 0;
}

.ant-input:focus {
  border-color: #000;
  box-shadow: none;
  outline: none;
}
