@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Cat";
  src: url("../fonts/Catamaran-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: Mulish;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: Mulish, sans-serif;
}
